
<div>
  <input type="text" id="country" placeholder="Enter country name" #country>
  <button class="button" (click)="searchCountryByName(country.value)">Search Country</button>

</div>

<button (click)="logOut()">LogOut</button>

<button (click)="next()">Next</button>
<button (click)="previous()">Previous</button>

<div *ngIf="flag">
<mat-grid-list [cols]="breakpoint" rowHeight="4:5" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let d of pageList" (click)="countryDetails(d)">
    <div *ngIf="!show">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{d.name.common}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{d.flags.png}} alt="Photo">
        <mat-card-content>
          <p>
            population:{{d.population}}
    
            {{ getCurrencies(d.currencies) }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>

<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="OnPageChange($event)"
    [showFirstLastButtons]="true" aria-label="Select page">
</mat-paginator> 









