<!-- <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>ConfirmedCase</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
        {{totalcountry}}
      </p>
    </mat-card-content>
  </mat-card>
   -->

   
<div class="jumbotron bg-white text-center">
    <h1>Corona Covid-19_Tracker</h1>
    <hr>
    <div class="row">
        <div class="card">
            <div class="ui statistic">
                <div class="label">
                    Active
                </div>
                <div class="value">
                    {{totalActive}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="ui statistic">
                    <div class="label">
                        Confirmed
                    </div>
                    <div class="value">
                        {{totalConfirmed}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="ui statistic">
                        <div class="label">
                            Deaths
                        </div>
                        <div class="value">
                            {{totalDeath}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="ui statistic">
                            <div class="label">
                                Recovered
                            </div>
                            <div class="value">
                                {{totalRecovered}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>