.flex-container{
    display:flex;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    background-color:rgb(234, 229, 240)
}